html {
  font-family: "IBM Plex Sans", sans-serif;
  color: #475476;
  line-height: 1.3;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #343d56; }
  a:hover {
    color: #7785ac; }

header {
  font-weight: 500; }

.skills {
  margin-top: 5px; }
  .skills > * {
    padding: 2px 8px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 6px;
    background-color: #f4f6fb; }

.page {
  page-break-after: always;
  max-width: 21cm;
  margin: auto;
  padding: 1rem; }
  .page > header > h1 {
    margin: 0; }
  .page > header > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .page > header > div > span {
      width: 100%;
      text-align: center;
      display: inline-block; }
      .page > header > div > span i {
        margin: 0 5px 0 0; }

.m-auto {
  margin: auto; }

section {
  page-break-inside: avoid;
  margin-bottom: 1rem; }
  section header h2 {
    text-transform: uppercase;
    /* letter-spacing: px; */
    font-size: 18px;
    margin-top: 0;
    color: #7785ac; }
  section article header {
    margin: 1rem 0 .2rem 0; }
    section article header h3 {
      margin: 0;
      color: #343d56; }
    section article header p {
      margin: 0;
      color: #7785ac;
      line-height: 1.5; }

@media (min-width: 640px) {
  .s\:col-2 {
    column-fill: auto;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 3rem; }

  .s\:col-1 {
    column-fill: auto;
    -moz-column-count: 1;
    column-count: 1; } }
@media (min-width: 800px), print {
  .l\:col-2 {
    column-fill: auto;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 3rem; }

  .l\:col-1 {
    column-fill: auto;
    -moz-column-count: 1;
    column-count: 1; }

  .page {
    height: 29.7cm;
    padding: 3rem; }
    .page > div {
      height: 27.5cm; }
    .page > header {
      height: 2.2cm; }
      .page > header > div > span {
        width: auto; } }
/* For test purposes */
.bg-black {
  background-color: black; }

.b-black {
  border: 1px solid #7785ac; }

/*# sourceMappingURL=style.css.map */
