// Main Color
$mc: #343d56;
$mc-1: darken( $mc, 10% );
$mc1: lighten( $mc, 10% );
$mc2: lighten( $mc1, 10% );
$mc3: lighten( $mc2, 10% );
$mc3: lighten( $mc2, 10% );
$mc4: saturate(lighten( $mc3, 40% ), 20%);

html {
  font-family: "IBM Plex Sans", sans-serif;
  color: $mc1;
  line-height: 1.3;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $mc;
  &:hover {
    color: $mc3
  }
}

header {
  font-weight : 500;
}

.skills {
  margin-top: 5px;
  > * {
    padding: 2px 8px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 6px;
    // border: 1px solid $mc2;
    background-color: $mc4;
  }
}

.page {
  page-break-after: always;
  max-width: 21cm;
  margin: auto;
  padding: 1rem;
  & > header {
    & > h1 {
      margin: 0;
    }
    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      & > span {
        width : 100%;
        text-align: center;
        display: inline-block;
        i {
          margin: 0 5px 0 0;
        }
      }
    }
  }
}
.m-auto {
  margin: auto;
}
section {
  page-break-inside: avoid;
  margin-bottom: 1rem;
  header h2 {
    text-transform: uppercase;
    /* letter-spacing: px; */
    font-size: 18px;
    margin-top: 0;
    color: $mc3;
  }
  article {
    header {
      margin: 1rem 0 .2rem 0;
      h3 {
        margin: 0;
        color: $mc;
      }
      p {
        margin: 0;
        color: $mc3;
        line-height: 1.5;
      }
    }
  }
}

@media (min-width: 640px) {
  .s\:col-2 {
    column-fill: auto;
    -moz-column-count: 2;
         column-count: 2;
    column-gap: 3rem;
  }
  .s\:col-1 {
    column-fill: auto;
    -moz-column-count: 1;
         column-count: 1;
  }
}

@media (min-width: 800px), print {
  .l\:col-2 {
    column-fill: auto;
    -moz-column-count: 2;
         column-count: 2;
    column-gap: 3rem;
  }
  .l\:col-1 {
    column-fill: auto;
    -moz-column-count: 1;
         column-count: 1;
  }
  .page {
    height: 29.7cm;
    padding: 3rem;
    & > div {
      height: 27.5cm;
    }
    & > header {
      height: 2.2cm;
      & > div > span {
        width : auto;
      }
    }
  }
}

/* For test purposes */
.bg-black {
  background-color: black;
}
.b-black {
  border: 1px solid $mc3;
}